img
{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
label
{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: #FFF;
    font-weight: bold;
}
div
{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


.checkbox-custom 
{
    padding-right: 20px;
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

.checkbox-custom:after 
{
    content: '';
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}

.checkbox-custom[type=checkbox]:before 
{
    background: #6c7bde;
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: 3px 4px;
    position: absolute;
    left: 2px;
    z-index: 2;
    opacity: 0;
    width: 16px;
    height: 16px;
}

.checkbox-custom[type=checkbox]:checked:before 
{
    content: '';
    position: absolute;
    top: 0px;
    opacity: 1;
    left: 0px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}
