img, label, div /*disable highlighting/selecting for img, label, and divs*/
{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body
{
    background-color:rgb(45, 106, 175); /*Ocean color*/
    overflow: hidden; /*No scrollbar*/
}

label /*make all text white & bold*/
{
    color: #FFF;
    font-weight: bold;
}

#legend
{
    width:300px;
    padding-bottom:20px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 20px; 
    text-align:center; 
    align-content: center; 
    z-index:4; 
    position:absolute; 
    right:0; 
    top:20px;
    margin-right:20px;
}

#legend-header
{
    top:10px; 
    font-size: 28px; 
    display:block; 
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px; 
    background-color: rgba(0,0,0,0.5);
}

#legend-key
{
    align-content: center; 
    text-align: left; 
    display:inline-block;
}

.legend-img
{
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
}

#mapimg
{
    z-index:1; 
    position:relative; 
    vertical-align: top;
}

#playermarker
{
    z-index:3; 
    position:absolute; 
    top:0px; 
    left:0px;
}

#destinationmarker
{
    z-index:3; 
    position:absolute; 
    top:0px; 
    left:0px;
}

.blip /*blip on map*/
{
    width: 24px;
    height: 24px;
    position: absolute;
}

/*the checkbox code is pretty copy&paste barely modified - i'll go through and remove unnecessary attributes later*/
.checkbox-custom 
{
    padding-right: 20px;
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

.checkbox-custom:after 
{
    content: '';
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}

.checkbox-custom[type=checkbox]:before 
{
    background: #6c7bde;
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: 3px 4px;
    position: absolute;
    left: 2px;
    z-index: 2;
    opacity: 0;
    width: 16px;
    height: 16px;
}

.checkbox-custom[type=checkbox]:checked:before 
{
    content: '';
    position: absolute;
    top: 0px;
    opacity: 1;
    left: 0px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}

ul,li /*Remove indentation from menu options*/
{ 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
}

.menu 
{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 5px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.6);;
    position: absolute;
    left:0px;
    top:0px;
    z-index:10;
}

.menu-options 
{
    list-style: none;
}

.menu-option 
{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 24px;
    color: #EEE;
    cursor: pointer;
}

.menu-option:hover 
{
    background: rgba(200, 200, 200, 0.4);
} 